.main-wrapper {
    width: 100%;
}

.addMax-wrapper {
    width: 75%;
    background-color: white;
    padding: 15px;
    box-shadow: 
    inset 0 -3em 3em rgba(0,0,0,0.1), 
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.select-wrapper {
    width: 100%;
}

