.page-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    background-color: white;
    padding: 15px;
    box-shadow: 
    inset 0 -3em 3em rgba(0,0,0,0.1), 
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}