.nav-card {
    flex-direction: column;
    background-color: white;
    display: flex;
    justify-content: center;
    width: max-content;
    padding: 20px;
    box-shadow: 
    inset 0 -3em 3em rgba(0,0,0,0.1), 
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-buttons > * {
    margin-right: 10px;
    margin-left: 10px;
}