.exercise-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
}

