.workout-form {
    width: 75%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 15px;
    box-shadow: 
       inset 0 -3em 3em rgba(0,0,0,0.1), 
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.workout-form > * {
    margin: 15px;
}

.workout-form-wrapper {
    display: flex;
    width: 100%;
    background-color: lightgray;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.select-wrapper {
    z-index: 999 !important;
}


