.menu-wrapper {
    height: 100vh;
    background-color: white;
    width: max-content;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.buttons-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-content: space-around;
    padding: 40px;
    box-shadow: 
       inset 0 -3em 3em rgba(0,0,0,0.1), 
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}