.App {
  text-align: center;
}

.body-layout-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.top-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #001529;
  align-items: center;
  padding: 10px;
}

.home-link {
  height: 200px;
  width: auto;
}

.logo {
  height: 75px;
  width: auto;
}

@media (max-width: 414px) {
  .logo {
    height: 30px;
    width: auto;
  }
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-wrapper {
  width: 100%
}

.ant-drawer-body {
  padding: 0 !important;
}